nav {
    min-height: 50px;
    text-align: center;
}
nav ul li {
    list-style: none;
}

h2 {
    position: relative;
    height: 25px;
    color: #093500;
    font-size: 32px;
}

.welcome {
    background: #eeeefb;
    height: 200px;

}

.welcome div {
    height: 100%;
}


header {
    background-image: url("img/draw.png");
    height: 80px;
}


header h1 {
    padding: 15px 0 0 35px;
    width: 200px;
    height: 25px;
    color: #ffffff;
    font-family: "Helvetica Neue LT Pro - Th Ex", serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 14.16px;
}

p {
    font-size: 10px;
    font-weight: 700;
}


p b{
    color: #80a60f;
    font-size: 15px;
    font-weight: 700;
}

article {
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
}

article img {
    padding-top: 25px;
}

.img-wrapper {
    position: relative;
}

img {
    width: 100%;
    height: auto;
}

.img-wrapper img {
    max-width: 443px;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer {
    border-top: 5px solid #eeeefb;
}
footer:after {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    top: -5px;
    left: 10px;
    border: 5px solid white;
}

nav {
    padding: 15px;
}



.mobile-hidden {
    display: none;
}

@media all and (min-width: 768px) {

    nav ul li:first-child {
        list-style: none;
    }

    nav ul li {
        list-style-image: url(img/arrow.png);
    }

    .col-4 {
        float: left;
        width: 33.33333333%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .col-2 {
        float: left;
        width: 16.66666667%;
        box-sizing: border-box;
    }

    .mobile-hidden {
        display: block;
    }
    .arrow {
        display: block;
        width: 13px;
        height: 9px;
        margin-top: 14px;
        background: url('./img/arrow1.png');
    }

    nav span {

        font-size: 20px;
        font-weight: 400;
        line-height: 14.16px;
    }


    nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-around;
    }

    .offset-1 {
        margin-left: 8.33333333%;
        box-sizing: border-box;
    }

    h2 {
        position: relative;
        left: -40px;
        width: 321px;
        height: 25px;
        color: #093500;
        font-size: 32px;
        font-weight: 400;
        line-height: 14.16px;
    }
}
