.container {
        margin: 0 auto;
        width: auto;
        max-width: 775px;
        max-height: 680px;
        box-sizing: border-box;
    }
    .row {
        border: #9b59b6;
        overflow: hidden;
    }
    .col-12 {
        float: left;
        width: 100%;
        box-sizing: border-box;
    }
    .col-11 {
        float: left;
        width: 91.66666667%;
        box-sizing: border-box;
    }
    .col-10 {
        float: left;
        width: 83.33333333%;
        box-sizing: border-box;
    }
    .col-9 {
        float: left;
        width: 75%;
        box-sizing: border-box;
    }

    .col-3 {
        float: left;
        width: 25%;
        box-sizing: border-box;
    }

    .col-1 {
        float: left;
        width: 8.33333333%;
        box-sizing: border-box;
    }