body {
    font-family: sans-serif;
}

nav {
    min-height: 50px;
    text-align: center;
    padding-right: 35px;
}

#header-img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

nav ul li {
    list-style-image: url(../img/arrow.png);
    border: none;
    margin: 0;
    background-color:  white;
    height: 30px;
    line-height: 30px;
}

nav ul li a {
    font-size: 23px;
    color: rgb(50, 111, 14);
}

a {
    text-decoration: none;
}

h2 {
    font-family: sans-serif;
    position: relative;
    color: #093500;
    font-size: 32px;
    font-weight: 300;
}

.welcome {
    background: #eeeefb;
    height: auto;
    padding: 20px;
}

.welcome div {
    height: 100%;
}


footer {
    font-size: 10px;
    margin-bottom: 15px;
}

header {
    background-image: url("../img/draw.png");
}


header h1 {
    font-family: sans-serif;
    padding-left: 35px;
    width: 200px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 32px;
    font-weight: 100;
}

header h1 span{
    color: white;
}

h4 {
    font-family: sans-serif;
    color: #093500;
    font-size: 22px;
    text-align: center;
}

p {
    font-size: 13px;
    padding: 15px;
}


p span{
    color: #80a60f;
    font-size: 15px;
    font-weight: 700;
}

h2 span{
    font-weight: 700;
}


.desktop-hidden {
    display: block;
}


.mobile-hidden {
    display: none;
}

@media all and (min-width: 768px) {
    .wrapper {
        display: inline-block;
        width: 100%;
    }
    .about {
        display: inline-block;
        width: 30%;
    }
    .wrapper-left {
        display: inline-block;
        width: 69%;
    }
    .research {
        display: inline-block;
        width: 100%;
    }
    .services {
        display: inline-block;
        width: 100%;
    }
    .image-research {
        display: inline-block;
        width: 39%;
    }
    .image-services {
        display: inline-block;
        width: 39%;
    }
    .text {
        display: inline-block;
        width: 59%;
    }
    .image {
        width: 189px;
    }

    nav ul li:first-child {
        list-style: none;
    }

    #header-img {
        width: auto;
        height: 100%;
    }

    nav ul li {
        list-style-image: url(../img/arrow.png);
        border: none;
        margin: 0;
        background-color:  white;
        height: 30px;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 23px;
        color: rgb(50, 111, 14);
    }

    .col-4 {
        float: left;
        width: 33.33333333%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .col-2 {
        float: left;
        width: 16.66666667%;
        box-sizing: border-box;
    }

    .mobile-hidden {
        display: block;
    }

    .desktop-hidden {
        display: none;
    }

    .arrow {
        display: block;
        width: 13px;
        height: 9px;
        margin-top: 14px;
        background: url('../img/arrow1.png');
    }

    nav span {
        font-size: 20px;
        font-weight: 400;
        line-height: 14.16px;
    }


    nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        justify-content: space-around;
    }

    h2 {
        font-family: sans-serif;
        position: relative;
        color: #093500;
        font-weight: 300;
        font-size: 32px;
    }

    p {
        color: rgb(50, 111, 0);
        font-size: 13px;
        padding: 0;
    }

    .welcome {
        background: #eeeefb;
        height: 200px;
        padding: inherit;
    }

    .col-7 {
        float: left;
        width: 58.33333333%;
        box-sizing: border-box;
    }

    .col-8 {
        float: left;
        width: 66.66666667%;
        box-sizing: border-box;
    }

    .col-5 {
        float: left;
        width: 41.66666667%;
        box-sizing: border-box;
    }

    h4 {
        text-align: justify;
        display: block;
        font-weight: 400;
        color: #385a3a;
    }

    nav {
        padding: 15px;
    }

    footer {
        font-size: 10px;
        margin-bottom: 15px;
    }

}
